*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
ol,
p,
pre,
ul {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Rubik', sans-serif;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  /* width: 100% - потому что я хоче чтобы контент всегда занимал всю ширену браузера */
  width: 100%;

  /* Но при этом максимальная ширена будет 1200px.
     Это позволит зафиксировать шарану на компах,но при это на планшете и мобилке контент займет 100%, это нам и нужно
   */
  max-width: 1160px;

  /* Эта штука делает следующее: */
  /* по оси Y(0) элемент с этим классом будет иметь 0px отступа */
  /* а по оси X(auto) конент выравнится по центру, что нам и нужно,так как контент у сайта по центру */
  margin: 0 auto;
}

.header__contact {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
