:root {
	/* Тут определяем цвета сайта */
	--black: #231f20;
	--black2: #25252e;
	--white: #fff;
	--silver: #f1f1f5;
	--gray: #777595;
	--yellow: #ffda00;
	--orange: #ff6c0e;
 
	/* Тут определяем все для типографии, зазмеры шрифтов и тп */
	--size-h1-extra: 82px;
	--size-h1: 60px;
	--size-h2: 42px;
	--size-h3: 36px;
	--size-h4: 28px;
	--size-xs: 12px;
	--size-sm: 14px;
	--size-md: 16px;
	--size-lg: 18px;
	--size-xl: 20px;
 
	--weight-300: 300;
	--weight-400: 400;
	--weight-500: 500;
	--weight-600: 600;
 
	/* Тут определяем брейк поинты */
	--container: 1280px;
 }
 
 *,
 *:before,
 *:after {
	box-sizing: border-box;
 }
 
 html,
 body {
	height: 100%;
 }
 
 body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
 }
 
 img,
 picture,
 video,
 canvas,
 svg {
	display: block;
	max-width: 100%;
 }
 
 input,
 button,
 textarea,
 select {
	font: inherit;
 }
 
 p,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
	overflow-wrap: break-word;
 }
 
 blockquote,
 dl,
 dd,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 hr,
 figure,
 ol,
 p,
 pre,
 ul {
	margin: 0;
	padding: 0;
 }
 
 html,
 body {
	font-family: "Rubik", sans-serif;
	padding: 0;
	margin: 0;
 }
 .content{
	display: flex;
	justify-content: center;
	width: 100%;
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
   margin-top: 20px;
	padding:0 16px 0 16px;
	
 }
 .content__services{
	display: flex;
	justify-content: space-between;
    align-items: flex-start;
 }
 .content__h3{
	display: flex;
	gap: 8px;
	font-style: normal;
	font-weight: 700;
	font-size: 42px;
	line-height: 54px;
	text-transform: uppercase;
	color: var(--dark);
	
}
 .content__h3 span{
	color: var(--yellow);
 }
 .content__h3__text{
	display: flex;
	margin-bottom: 40px;
    width: 58%;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 140%;
    color: #777595;
    opacity: 0.8;
 }

 @media(max-width: 1280px){
	.content__h3{
	 font-size: 32px;
    line-height: 36px;
    margin-bottom: 28px;
	}
	.content__h3__text{
	 width: calc(calc(100% - 32px)/3*2);
    font-size: 16px;
    line-height: 140%;
	}
 }

 @media(max-width: 1020px){
	.content__services{
		text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	}
	.content__h3{
		font-size: 28px;
    line-height: 36px;
	}
	.content__h3__text{
		max-width: 60ch;
		margin-bottom: 0;
		text-align: center;
		width: auto !important;
		font-size: 14px;
		line-height: 140%;
	}
	
 }

 @media(max-width: 680px){
	.content__h3{
    font-size: 22px;
    line-height: 140%;
}
	}
 