:root {
  /* Тут определяем цвета сайта */
  --black: #231f20;
  --black2: #25252e;
  --white: #fff;
  --silver: #f1f1f5;
  --gray: #777595;
  --yellow: #ffda00;
  --orange: #ff6c0e;

  /* Тут определяем все для типографии, зазмеры шрифтов и тп */
  --size-h1-extra: 82px;
  --size-h1: 60px;
  --size-h2: 42px;
  --size-h3: 36px;
  --size-h4: 28px;
  --size-xs: 12px;
  --size-sm: 14px;
  --size-md: 16px;
  --size-lg: 18px;
  --size-xl: 20px;

  --weight-300: 300;
  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;

  /* Тут определяем брейк поинты */
  --container: 1280px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
ol,
p,
pre,
ul {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Rubik", sans-serif;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 16px;
}

/**
  Header Styles
 */
.header {
  /* релатив тут чтобы телефон на мобилке не улетал.
  если родителю дать релатив, то чилдрен в позиции абсолют позицианируется относительно родителя.
  */
  position: relative;
  box-shadow: 0px 8px 28px rgb(56 55 69 / 10%);
}

.header__container {
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

/* На разрешении 1280px и меньше добавляем внутренние отступы для хедера так как логотип уменьшается
 и контент прилепает к верху и низу хедера. В оригинале там 26px сверху и сниху
 */
@media (max-width: 1280px) {
  .header {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media (max-width: 420px) {
  .header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.header__logo--wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__logo {

}

/* На планшете по Y уменьшается размер логотипа */
@media (max-width: 860px) {
  .header__logo {
    width: 110px;
  }
}

.header__logo__source {

}

/* По умолчанию кнопка бургера скрыта, и показывается только на планшетах и ниже */
.header__burger__button {
  /* некоторые элементы в HTML имеют свои стили по умолчанию */
  /* так вот чтобы не передивать их стили, можно все сразу сбросить с помощью all: unset; */
  all: unset;

  display: none;
}

@media (max-width: 1280px) {
  .header__burger__button {
    display: block;
  }
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* На разрешении 1280px навигация прячется */
@media (max-width: 1280px) {
  .header__nav {
    display: none;
  }
}

.header__nav__item {
  font-size: var(--size-md);
  color: var(--black);
  font-weight: var(--weight-500);

  text-decoration: none;

  padding: 12px 0;
}

.header__nav__item:visited {
  color: var(--black);
}

.header__nav__item:hover {
  color: var(--orange);
}

.header__nav__item.active {
  border-bottom: 2px solid var(--yellow);
}

.header__contact {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
}

@media (max-width: 860px) {
  .header__contact {
    gap: 14px;
  }
}

.header__contact__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: var(--black);
  font-weight: var(--weight-500);
  text-decoration: none;

  gap: 2px;
}

/* На планшетах контакты идут в строку, а так же увеличивается расстояние между иконкой и текстом */
@media (max-width: 1280px) {
  /* Восетую глянуть в доку по CSS .not() Если в кратце то это в not мы можем указать исключения */
  /* Исключение могут быть так же и псевдо классы типа :hover, :active и тп */
  .header__contact__item:not(.header__contact--phone) {
    flex-direction: row;
    gap: 6px;
  }
}

@media (max-width: 420px) {
  .header__contact__item:not(.header__contact--phone) {
    flex-direction: column;
    gap: 6px;
  }
}

.header__contact__item:visited {
  color: var(--black);
}

.header__contact__item:hover {
  color: var(--orange);
}

.header__contact__item span {
  font-size: var(--size-xs);
}

.header__contact__item img {
  width: 56px;
}

@media (max-width: 1280px) {
  .header__contact__item img {
    width: 36px;
  }
}

@media (max-width: 860px) {
  .header__contact__item img {
    width: 30px;
  }
}

/* Styles specific for the Phone block */
.header__contact--phone {
  /* gap чтобы раздвинуть немного номер от текста */
  gap: 8px;

  /* чтобы выровнять по левой стороне в отличае от соц.сетей */
  align-items: flex-start;
}

.header__contact--phone a {
  color: var(--black);
  font-size: var(--size-xl);
  font-weight: var(--weight-600);

  text-decoration: none;
}

.header__contact--phone a:visited {
  color: var(--black);
}

.header__contact--phone span {
  color: var(--gray);
  font-size: var(--size-xs);
}

/* Убираем отстумы между номером и 24/7 и уменьшаем шрифт номера телефона */
@media (max-width: 1280px) {
  .header__contact--phone {
    gap: 0px;
  }

  .header__contact--phone a {
    font-size: var(--size-md);
  }
}

@media (max-width: 860px) {
  .header__contact--phone span {
    display: none;
  }
}

@media (max-width: 620px) {
  .header__contact--phone {
    display: none;
  }
}

@media (max-width: 420px) {
  .header__contact__item span {
    font-size: 10px;
  }
}

/* Mobile Menu */
.mobile__menu {
  position: fixed;
  z-index: 101;
  top: 0;
  bottom: 0;
  /* изначально мы прячем мобильное меню из видимой области экрана с помощью минусового значения */
  /* и только при наличии дополнительного класса .active мы покажем это меню, то есть вернем значение left в 0; */
  /* минус 280px потому что шарани менюшки 280px */
  left: -280px;
  overflow-y: scroll;
  width: 280px;
  background: #fff;
  transition: all 0.5s ease;
}

/* тут получается, эти стили применятся только при условии если один элемент будет иметь оба эти класса */
/* оба имеется ввиду и .mobile__menu и .active. К примеру <div class="mobile__menu active">...</div> */
.mobile__menu.active {
  /* С помощью left: 0; мы возвращаем меню в видимую область экрана */
  left: 0;
}

/* Этот класс отвечает за заблюренный фон. */
.mobile__menu__background {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 99;

  opacity: 0;
  visibility: hidden;

  backdrop-filter: saturate(180%) blur(10px);
  background-color: rgba(50, 48, 48, 0.55);
  transition: all 0.5s ease;
}

/* https://www.w3schools.com/cssref/sel_element_pluss.php#:~:text=that%20are%20placed-,immediately%20after,-%3Cdiv%3E%20elements%3A */
.mobile__menu.active + .mobile__menu__background {
  opacity: 1;
  visibility: visible;
  z-index: 99;
}

.mobile__menu__close__button {
  all: unset;
  position: absolute;
  top: 12px;
  right: 12px;
}
.mobile__menu__list{
  margin-top: 50px;
  margin-left: 16px;
}
.mobile__menu__list__item{
  list-style: none;
  font-size: inherit;
  color: inherit
}
.mobile__menu__list__item a{
  text-decoration: none;
  color: #231f20;
}
.mobile__menu__contact{
  padding: 0 16px;
}
.mobile__menu__contact__span{
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 100%;
  color: var(--gray);
}
.mobile__menu__contact__item a{
  text-decoration: none;
  color: #231f20;
  font-weight: 500;
}
.mobile__menu__contact__icon{
  display: flex;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
  color: var(--black);
  font-weight: var(--weight-500);
  text-decoration: none;
  gap: 3px;
}
.mobile__menu__socialc__adress{
  display: flex;
  grid-gap: 5px;
  position: relative;
  margin-top: 8px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: var(--black);
}

.mobile__menu__socialc__email{
  display: flex;
  gap: 5px;

  position: relative;
  margin-top: 8px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: var(--black);
  text-decoration: none;
}
.mobile__menu__socialc__email a{
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: var(--black);
  text-decoration: none;
}

.footer  {
  background-color: #25252e;
  color:var(--white);
}

.footer   a {
  text-decoration: none;
  color: var(--white);
  transition: 0.2s ease;
}
.footer   a:hover {
  text-decoration: none;
  color: var(--gray);
}
.footer__col__contacts--phone span{
  color: gray;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
}


.footer__inner {
  display: inline;
  padding-top: 56px;
}

.footer__logo--wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 262px;
  margin-left: auto;
  margin-right: auto;
}

.footer__logo img {
  height: 110px;
}
.footer__container {
	display: flex;
  justify-content: space-between;
   flex-wrap: wrap;
  padding-top: 30px;
  align-items: flex-start;
  row-gap: 14px;
}

.footer__contacts {
  display: flex;
	justify-content: center;
	flex-direction: column;
}

.footer__col__contacts {
  display: flex;
  flex-direction: row;
  margin-bottom: 0;
  justify-content: center;
  align-items: center;
}
.footer__col__contacts--icon a {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.footer__col__contacts--icon a img {
  width: 38px;
  height: 38px;
  margin-bottom: 0px;
  margin-right: 8px;
}

.footer__col__contacts--icon span {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
}
.footer__col__menu {
  width: calc(100% / 3 * 2);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.footer__socials,.footer__contacts{
	width: 25%;
}
.footer__socials{
  display: flex;
  flex-direction: column;
  gap: 28px;

}
.footer__socials__item{
 display: flex;
 gap: 12px;
}

.footer__links{
width: 50%;
display: flex;
justify-content: center;

}
@media(max-width:760px){
  .footer__links{
    justify-content: flex-start;
  }

}
@media (max-width:1024px){
	.footer__contacts{
		width: 100%;
		align-items: center;
	}
	.footer__socials{
    width: 50%;

	}

}
@media screen and (max-width: 760px){
	.footer__col{
		width: 100% !important;
	}
}

.footer__col__contactwhattsap{
	display: flex;
	gap: 32px;
}
.footer__col__contactwhattsap a{
	display: flex;
	flex-direction: column;
	gap: 7px;
	align-items: center;
}

.footer__col__contactwhattsap a img{
	width: 34px;
}
.footer__col__contacts--phone{
	display: flex;
	gap: 12px;
	flex-direction: column;
	margin-top: 32px;
}
.footer__col__menu__item{
	display: flex;
	flex-direction: column;

}

.footer__links ul{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 32px;
  max-width: 500px;
}
.footer__links li{
	margin-bottom: 28px;
	list-style: none;
}

.footer__col__contacts{
  display: flex;
  gap: 33px;

}
.footer__col__contacts a{
  display: flex;
  flex-direction: column;
  align-items:center;
  gap: 8px;
  width: 32px;
}
.footer__col__contacts a:hover svg{
  fill: #fff;
}
.footer__col__contacts a img{
  width: 34px;
}
.footer__col__contacts--phone a{
  font-size: 22px;
  font-weight: 500;
}
.social__item svg {
  fill: #777595;
  transition: all 0.3s ease;

}
.footer__copyright{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  border-top: 1px solid rgba(119, 117, 149, 0.5);
  color: var(--gray);
  font-size: 15px;
  font-weight: 300;

}

.content__container{
  display: flex;
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding:0 16px 0 16px;
}
@media(max-width: 760px){
  .h1{
    text-align: center;
    padding-bottom: 280px;

  }
  div.h1 span{
    font-size: 50px;
    line-height: 30px;
  }
  div .header__title{
    font-size: 30px;
    line-height: 44px;
  }
}
@media(max-width: 760px){
  .header__slider  {
    display: flex;
    align-items: center;
    position: absolute;
    margin-top: 150px;
    height: auto;
    max-width: 100%;

  }

}
@media(max-width: 760px){
  .header__slider  {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    order: -100;
    position: absolute;
    margin-bottom: 35px;

  }

}

@media(max-width: 760px){
  .header__section  {
    padding-top: 200px;

  }

}
@media(max-width: 610px){
  .header__section  {
    padding-top: 100px;

  }

}
@media(max-width: 495px){
  .header__section  {
    padding-top:20px;

  }

}
@media(max-width: 380px){
  .header__section  {
    padding-top:2px;

  }

}
@media(max-width: 760px){
  .content__text {
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  .content__container{
    display: flex;
    flex-direction: column-reverse;
    gap: 50px;
  }

}

.h1{
  display: flex;
  flex-direction: column;
}
.header__title{
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  color: var(--black);
}
.header__title span{
  display: flex;
  font-style: normal;
  font-weight: 700;
  font-size: 82px;
  line-height: 82px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #FFDA00;
}
.section__text{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 54ch;
  margin-top: 20px;
  margin-bottom: 40px;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 140%;
  color: var(--gray);
}
.header__button a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 259px;
  height: 53px;
  background-color: var(--orange);
  font-style: normal;
  border-radius: 13px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  border: none;
  transition: all 0.8s ease;

}

.header__button a:hover{
  background-color: #231F20;
  transition: all 0.3s ease ;
}
.header__button a{
  text-decoration: none;
  color: #f1f1f5;
}
.header__slide{
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: none;

}

.content{
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding:0 16px 0 16px;

}
.content_arguments{
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.7s ease  ;
}
.argument{
  display: flex;
  align-items: center;
  justify-content: center;
}
.argument img{
  height: auto;
  max-width: 100%;
  border: none;
  border-radius: 0;
  box-shadow: none;
}
.content__argument__name{
  padding-left: 18px;
}
.content__argument__name b{
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.content__argument__name span{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 11px;
  font-weight: 300;
  font-size: 16px;
  line-height: 14px;
  color: var(--gray);
}


@media(max-width: 1280px){
  .content__argument__name span{
    padding-top: 6px;
    font-size: 12px;
    line-height: 14px;
  }
}

@media(max-width:760px){
  .content_arguments{
    display: flex;
    margin-bottom: 60px;
    align-items: flex-start;
    gap: 70px;
  }
  .content__argument__name span{
    display: none;
  }
}
@media(max-width: 680px){
  .argument{
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }
  .content__argument__name{
    width: 100%;
    padding: 0;
    margin-top: 10px;
    text-align: center;
  }
  .content__argument__name b{
    font-size: 12px;
    text-align: center;
  }
}

@media(max-width:480px){
  .content__argument__name{
    word-break: break-word;
  }
}

@media(max-width:320px){
  .content_arguments{
    gap: 40px;
  }
}
