/* В CSS мы может создавать переменные вот таким образом и использовать их с помощью var(--имя-переменной); */
/* Это поможет нам не путаться в значениях */
:root {
  /* Тут определяем цвета сайта */
  --black: #231f20;
  --black2: #25252e;
  --white: #fff;
  --silver: #f1f1f5;
  --gray: #777595;
  --yellow: #ffda00;
  --orange: #ff6c0e;

  /* Тут определяем все для типографии, зазмеры шрифтов и тп */
  --size-h1-extra: 82px;
  --size-h1: 60px;
  --size-h2: 42px;
  --size-h3: 36px;
  --size-h4: 28px;
  --size-xs: 12px;
  --size-sm: 14px;
  --size-md: 16px;
  --size-lg: 18px;
  --size-xl: 20px;

  --weight-300: 300;
  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;

  /* Тут определяем брейк поинты */
  --container: 1280px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
ol,
p,
pre,
ul {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Rubik', sans-serif;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  /* width: 100% - потому что я хоче чтобы контент всегда занимал всю ширену браузера */
  width: 100%;

  /* Но при этом максимальная ширена будет 1280px.
     Это позволит зафиксировать шарану на компах,но при это на планшете и мобилке контент займет 100%, это нам и нужно
   */
  max-width: 1280px;

  /* Добивил внутренние отступы чтобы контент не прилигсл прям к краю браузера на разрешении меньше чем 1160px */
  padding-left: 40px;
  padding-right: 40px;

  /* Эта штука делает следующее: */
  /* по оси Y(0) элемент с этим классом будет иметь 0px отступа */
  /* а по оси X(auto) конент выравнится по центру, что нам и нужно,так как контент у сайта по центру */
  margin: 0 auto;
}

/**
  Header Styles
 */
.header {
  box-shadow: 0px 8px 28px rgb(56 55 69 / 10%);
}

.header__container {
  align-items: center;
}

/* На разрешении 1280px и меньше добавляем внутренние отступы для хедера так как логотип уменьшается
 и контент прилепает к верху и низу хедера. В оригинале там 26px сверху и сниху
 */
@media (max-width: 1280px) {
  .header {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

.header__logo--wrapper {

}

.header__logo {

}

.header__logo__source {

}

.header__nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* На разрешении 1280px навигация прячется */
@media (max-width: 1280px) {
  .header__nav {
    display: none;
  }
}

.header__nav__item {
  font-size: var(--size-md);
  color: var(--black);
  font-weight: var(--weight-500);

  text-decoration: none;

  padding: 12px 0;
}

.header__nav__item:visited {
  color: var(--black);
}

.header__nav__item:hover {
  color: var(--orange);
}

.header__nav__item.active {
  border-bottom: 2px solid var(--yellow);
}

.header__contact {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
}

.header__contact__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: var(--black);
  font-weight: var(--weight-500);
  text-decoration: none;

  gap: 2px;
}

.header__contact__item:visited {
  color: var(--black);
}

.header__contact__item:hover {
  color: var(--orange);
}

.header__contact__item span {
  font-size: var(--size-xs);
}

.header__contact__item img {
  width: 56px;
}

/* Styles specific for the Phone block */
.header__contact--phone {
  /* gap чтобы раздвинуть немного номер от текста */
  gap: 8px;

  /* чтобы выровнять по левой стороне в отличае от соц.сетей */
  align-items: flex-start;
}

.header__contact--phone a {
  color: var(--black);
  font-size: var(--size-xl);
  font-weight: var(--weight-600);

  text-decoration: none;
}

.header__contact--phone a:visited {
  color: var(--black);
}

.header__contact--phone span {
  color: var(--gray);
  font-size: var(--size-xs);
}
